html,
body {
  position: relative;

  /** 数字等宽 */
  font-feature-settings: "tnum";
}

.progress {
  --color: #a21211;
  --radius: 0;
  --bg-color: #f2f2f2;
  --height: 8;
  border-radius: calc(var(--radius) * 1px);
  height: calc(var(--height) * 1px);
  overflow: hidden;
}

/* 表示总长度背景色 */
.progress::-webkit-progress-bar {
  background-color: #f2f2f2;
  border-radius: calc(var(--radius) * 1px);
}

/* 表示已完成进度背景色 */
.progress::-webkit-progress-value {
  background: var(--color);
  border-radius: calc(var(--radius) * 1px);
}

.progress_li {
  --mb: 0px;
  margin-bottom: calc(var(--mb) * 1px);
}

.progress_li:last-of-type {
  margin-bottom: 0;
}

dialog:-internal-dialog-in-top-layer {
  max-width: 100%;
  max-height: 100%;
}